body{
    background-image: url(bg.jpg);
}
.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.autors{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
}
.autors img{
  object-fit: cover;
  margin-right: 30px;
  max-width: 30%;
}
.autorsline{
  display: inline-flex;
}
.zxc{
  width: 100%;
}
.video{
    margin-left: 15%;
}
.qwerty{
    font-family: sans-serif;
    margin-top: 10%;
}

.bg-yellow {
    --tw-bg-opacity: 1;
    background-color:rgb(255 225 173 / var(--tw-bg-opacity));
    
  }
.bg-darkyellow {
    --tw-bg-opacity: 1;
    background-color:rgb(228 199 133);
    border-radius: 7px;
}

.asdf{
    margin-top: 10%;
    margin-left: 25%;
    
}
.asdfe{
    margin-left:13%;
}
#column1 .game-item img[selected="true"] {
    background-color: lightblue;
  }
@media only screen and (max-width: 640px) {
    .asdf{
        margin-top: 10%;
        margin-left: 0%;
        
    }
  }

/* -------zein------------ */
.game-place {
    display: flex;
    justify-content: space-around;
  }
  .game-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-item {
    margin: 5px ;
    border-radius: 7px;
    background-color: gray;
  }
  .highlight {
    background-color: green;
  }
  .ans{
    margin: 90px 5px ;
  }
